@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    input[type="radio"]:checked::before {
      @apply content-[''] w-[12px] h-[12px] rounded-full bg-[#FF14B9] absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
    }
  }
